h1{
 color:blue;  
}

/*
p{
    width: 100px;
    

  color: blue;
}
*/
/*
p{
  width: 10px;
}
*/
#soho{
  background-color: greenyellow;
  color: red;

}

#akira{
  font-size: 200px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
background-color: darkviolet;
color: yellowgreen;

}
#akiratext{
  font-size: larger;
  text-align: center;
}
#akiraimage{
  text-align: center;
}

#sketchbook{
  font-size: 100px;
  background-color:mediumorchid ;
  color:black;
  text-align: center;
}
#sketchbooktext{
  text-align: center;
}
#sketchbookimage{
  text-align: center;
}
#musa-paradisiaca{
color:rgb(155, 155, 28);
background-color: black;
font-size: 180px;
font-weight: 400px;
text-align: center;
}


#mulata-body{
  color:rgb(155, 155, 28);
  font-size: 60px;
  font-weight: 400px;
  text-align: center;
}


#dancing-body-of-the-mulata{
color:rgb(59, 36, 6);
font-size: 35px;
font-weight: 200px;
text-align: center;
}

#mulata-stereotype{
  text-align: center;
}


#mulata-recipe{
 color:rgb(14, 68, 50);
 text-align: center;
 font-size: 30px;
 padding: 40px; 

}


#representation{
  color:darkorange;
  font-size:30px;
  padding: 20px;
  text-align: center;
  text-decoration:underline;
  text-decoration-color: crimson;
  background-color:rgb(146, 99, 12);
  border: 4px;
  border-radius: 35px;
  border-color: rgb(208, 208, 9);
  border-style: dotted;





}

/*#exotic-ingredients{
  text-align: center;
  font-size: 40px;
  font-weight: 100px;
  color:rgb(154, 70, 6)
}*/

#author{
  color:darkgoldenrod;
  text-align: center;
  font-size: 15px;
}